<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>About</li>
  </ul>
</nav>

<h1>About</h1>

<h2>Getting Started with Arabic Pro</h2>
<p>Ready to dive into Arabic? Start with the Alphabet tab to get familiar with the letters—it’s your foundation. Once you're comfortable with the alphabet, head over to the Vocabulary tab. Arabic Pro introduces you to the most common words you'll encounter as a language learner. But here’s the thing: the best way to really learn a language is by seeing and hearing it in action.  That’s why we recommend studying the vocabulary while engaging with the supplementary resources below.</p>

<br>

<p><strong>**Please read the notes below before starting the Vocabulary tab!**</strong></p>

<br>

<h2>Guide & Supplementary Resources</h2>


<h3>Reading Practice</h3>
<p> We highly recommend using Arabic Pro alongside external reading materials. One excellent resource is <a href="https://www.lingualism.com/">Lingualism</a>, which offers easy reader books with accompanying audio. Start with books at the A1 level and gradually progress through the CEFR levels (A1, A2, B1, B2, etc.).</p>
<p>As you read, listen to the audiobook version. This will help you develop both your listening and reading comprehension, reinforcing oral Arabic while exposing you to written text.</p>

<br>

<h3>Flashcards and Vocabulary Retention</h3>
<p> To retain new words more effectively, consider using <a href="https://apps.ankiweb.net/">Anki</a> (and its associated app), a flashcard site that uses Spaced Repetition System (SRS). SRS helps you remember information by reviewing it just before you’re likely to forget it. It’s one of the most efficient ways to memorize vocabulary—especially words you encounter outside of Arabic Pro. </p>
<p> Anki can be difficult to set up, but it’s worth the effort. We recommend creating flashcards that include both front and back (Arabic -> English, and English -> Arabic). You can also read <a href="https://www.reddit.com/r/LearnJapanese/comments/6ry1zq/enhance_your_flashcarding_experience_dramatically/">this Reddit post</a>to configure your settings to be more helpful.</p>

<br>

<h3>Tutoring and Speaking Practice</h3>
<p> Once you’ve learned the alphabet and a few basic phrases, we recommend scheduling lessons with a tutor on <a href="http://iTalki.com">iTalki</a>.  Early on, you won’t be able to speak or understand much of what your tutor says, and that’s perfectly normal.</p>
<p> Once you’ve learned a few words from the Vocabulary tab, book a one 30-minute lesson every other week (or even once a month) with a tutor. This gives you time to practice what you’ve learned and ask questions. Keep a running list of your questions in a shared Google Doc or Word file to review with your tutor. As your skills improve, you can book more frequent sessions.</p>

<br>

<h3>Grammar Reference</h3>
<p> For grammar support, visit <a href="https://arabic.desert-sky.net/grammar.html">Desert Sky</a>, a helpful website for Arabic grammar. The explanations can be challenging, so we suggest starting with the first grammar page and asking your tutor for clarification when needed.<p>
<p> We also suggest asking <a href="http://ChatGPT.com">ChatGPT</a> or another Large Language Model to answer any grammar or vocabulary questions you may have. ChatGPT was mainly trained on Modern Standard Arabic, but it generally understands Egyptian Arabic, Levantine Arabic, and some other smaller dialects.</p>

<br>

<h3>Dictionary</h3>
<p> We’ve included a dictionary on our website to look up any words in our system. However, we also recommend using <a href="https://www.livingarabic.com/">Lughatuna</a> (and the accompanying app), a dictionary that includes Modern Standard (Classical) Arabic and many dialects, and Reverso, an app that uses AI to find the most common translations of words. If you are learning Modern Standard Arabic, the most comprehensive dictionary is Hans-Wehr, which is available as an app. However, it is difficult to use, especially for beginners. We don’t recommend using it until you’ve reached at least an intermediate level.</p>

<br>

<h2>Improving Your Reading Skills</h2>
<ul><li><strong>B1 Level:</strong> <p>Once you're comfortable reading <a href="https://www.lingualism.com/">Lingualism.com</a> books at the B1 level, try reading <a href="http://alHudood.net">alHudood.net<a>, an Arabic satirical news site similar to The Onion. This is a fun way to transition into reading Arabic news-style writing.</p></li>


<li><strong>B2 Level and Beyond:</strong> <p>When you reach the B2 level, you can begin reading the <a href="https://a.co/d/5eQHJUW">Harry Potter series in Arabic on Kindle Unlimited</a> while listening to the <a href="https://open.spotify.com/show/6a0A5hFRLiDTt0AxrX3jjq?si=24786bec51fc415d">Harry Potter audiobooks on Spotify</a> for support. A more advanced option is Season of Migration to the North by Tayeb Salih—a short Arabic novel that’s accessible and engaging. Once you’ve made it through all eight books, you should have the skills to tackle popular fiction in Arabic and continue expanding your vocabulary.</p></li></ul>

<br>

<h2>A Note About Dialects</h2>
<p> Linguists say it’s best for foreign language learners to study dialects as if they were separate languages. That means you shouldn’t pick up a second dialect until you’ve reached about a B2/C1 level in your first dialect. Pick whichever option you think will be most useful to you (e.g. Modern Standard if you want to read books and newspapers, Egyptian if you want to talk to family members.) Then you should delve into the new dialect the same way you started learning your first dialect. When adding a second dialect:</p>
<ol>
<li>Accept the interference phase (you’ll confuse vocabulary and pronunciation).</li>
<li>Keep a mental boundary between contexts. For example:</li>
<ul><li>Use MSA for news, lectures.</li>
<li>Use Lebanese Arabic for TV shows, casual chats.</li></ul></ol>
<p> Your brain will eventually separate them the way bilinguals separate two languages. Don’t think in terms of converting Modern Standard Arabic to Egyptian Arabic. Instead, study both dialects as if they were Spanish and Portuguese — similar, but different languages.</p>
<p> In your primary language, you may see other dialects as just an accent and a few different words. However, when you learn a second language as an adult, your brain views dialects as slightly different languages. It’s important to treat each dialect as a new source of input, and your brain will naturally sort out what fits where!</p>
<p> We recommend a few resources for learning spoken dialects. The first is <a href="https://www.lingualism.com/">Lingualism.com</a>, which offers easy readers for the major dialects. The second, <a href="https://mangolanguages.com/">Mango Languages</a> is an excellent resource for Syrian/Levantine Arabic. They also have lessons for Modern Standard, Egyptian, and Iraqi Arabic. Third is<a href="http://TalkinArabic.com">TalkinArabic</a>, which offers audio exercises for multiple dialects. Finally, you can find several podcasts on Spotify, such as the Better Arabic Podcast and the Simple & Easy Arabic Podcast. Once you’ve reached a B2 level, we recommend watching Arabic films and TV shows on Netflix with Arabic subtitles (not English!) turned on. You can pause the movie to look up words and create new Anki flashcards as needed.</p>

<br>

<h2>Final Note</h2>
<p> Don’t worry about speaking until comprehension is strong. You can’t have a conversation unless you understand what the other person is saying! Otherwise it’s just a speech. Focus first on building vocabulary, then learn grammar to understand why sentences are formed the way they are (preferably with a tutor), and then focus on conversation practice.</p>

<br>

<p>Good luck!</p>

<h3>Resources:</h3>
<ul>
<li><a href="https://www.lingualism.com/">Lingualism.com</a></li>

<li><a href="https://apps.ankiweb.net/">Anki</a></li>

<li><a href="https://a.co/d/5eQHJUW">Harry Potter on Kindle Unlimited</a></li>

<li><a href="https://open.spotify.com/show/6a0A5hFRLiDTt0AxrX3jjq?si=24786bec51fc415d">Harry Potter Audiobook on Spotify</a></li>

<li><a href="http://iTalki.com">iTalki.com</a></li>

<li><a href="http://alHudood.net">alHudood.net<a></li>

<li><a href="https://arabic.desert-sky.net/grammar.html">Desert Sky</a></li>

<li><a href="http://ChatGPT.com">ChatGPT</a></li>

<li><a href="https://www.livingarabic.com/">Lughatuna</a><li>

<li><a href="https://mangolanguages.com/">Mango Languages</a></li>

<li><a href="http://TalkinArabic.com">TalkinArabic</a></li>
