<h1>
  List of all flashcards
</h1>

<hr>

<article>
  <header>
    <h2>
      Vocabulary
    </h2>
  </header>
</article>

<hr>

<article>
  <ul>
    <% @list_of_flashcards.each do |a_flashcard| %>
      <li>
        <a href="/flashcards/<%= a_flashcard.id %>">
          #<%= a_flashcard.word %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
