<h1>
  List of all reviews
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new review
    </h2>
  </header>

  <form action="/insert_review" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="item_id_box">
        Item
      </label>

      <input type="text" id="item_id_box" name="query_item_id">
    </div>

    <div>
      <label for="srs_stage_box">
        Srs stage
      </label>

      <input type="text" id="srs_stage_box" name="query_srs_stage">
    </div>

    <div>
      <label for="due_date_box">
        Due date
      </label>

      <input type="datetime-local" id="due_date_box" name="query_due_date">
    </div>

    <div>
      <label for="correct_answers_box">
        Correct answers
      </label>

      <input type="text" id="correct_answers_box" name="query_correct_answers">
    </div>

    <div>
      <label for="incorrect_answers_box">
        Incorrect answers
      </label>

      <input type="text" id="incorrect_answers_box" name="query_incorrect_answers">
    </div>

    <div>
      <label for="interval_minutes_box">
        Interval minutes
      </label>

      <input type="text" id="interval_minutes_box" name="query_interval_minutes">
    </div>

    <div>
      <label for="proficiency_rate_box">
        Proficiency rate
      </label>

      <input type="text" id="proficiency_rate_box" name="query_proficiency_rate">
    </div>

    <button type="submit">
      Create review
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_reviews.each do |a_review| %>
      <li>
        <a href="/reviews/<%= a_review.id %>">
          Review #<%= a_review.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
