<h1>
  List of all reviews
</h1>

<hr>

<article>
  <ul>
    <% @list_of_reviews.each do |a_review| %>
      <li>
        <a href="/reviews/<%= a_review.id %>">
          Review #<%= a_review.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
