<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Reviews</li>
  </ul>
</nav>

<hr>

<article>
  <header>
    <h1>Reviews</h1>
  </header>

<% if @no_reviews_due %>
  <p>No cards due! 🎉</p>
  <%= link_to "Back to Home", "/" %>
<% else %>
  <div class="flashcard">
    <p>There are <%= @due_reviews.count %> cards ready for review.</p>
    <%= link_to "Go to Review", "/reviews/#{@review.id}" %>
  </div>
<% end %>

<hr>
</article>
